<!DOCTYPE html>
<html>
<head>
  <title>Voting</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if session[:user_id]%>
<header>
<img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b8/GGSIU_logo.svg/1164px-GGSIU_logo.svg.png" alt="HTML5 Icon" width="100" height="100">
	<h1> ONLINE VOTING SYSTEM </h1>


</header>
<a href="/logout">logout</a><br>
<a href="/change">change password</a>

<%end%>

<%= yield %>

</body>
</html>
